graft doc
graft rst
graft contrib
graft tests
graft util
graft bin
include requirements.txt
include Changes.txt
include README.rst
include LICENSE
include src/s3ql/sqlite3ext.pyx
exclude WARNING
exclude MANIFEST.in
prune tests/.cache
prune tests/.pytest_cache
prune doc/doctrees
prune src/dugong
prune doc/man/.doctrees
prune doc/html/.doctrees
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.log
